{% extends 'base.html' %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}

<h1>Edit Post</h1>

{% for msg in get_flashed_messages() %}
<div class="alert alert-danger">{{msg}}</div>
{% endfor %}

<div>
  <form>

    <label for="title" class="form-label">Title:</label>
    <input type="text" id="title" name="title" value="{{post.title}}" class="form-control">

    <label for="content" class="form-label">Content:</label>
    <!-- <input type="text" id="content" name="content" class="form-control"> -->
    <textarea class="form-control" id="content" name="content" rows="3">{{post.content}}</textarea>



    <input type="submit" name="cancel" class="btn btn-outline-primary" value="Cancel"
      formaction="/users/{{post.user_id}}">
    <input type="submit" name="edit" class="btn btn-success" value="Edit" formaction="/posts/{{post.id}}/edit"
      formmethod="POST">
  </form>
</div>

{% endblock %}