{% extends 'base.html' %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}
<!-- edit name to post_user -->
<h1>Edit Post</h1>


<div>
  <form>

    <label for="title" class="form-label">Title:</label>
    <input type="text" id="title" name="title" value="{{title}}" class="form-control">

    <label for="content" class="form-label">Content:</label>
    <textarea class="form-control" id="content" name="content" rows="3">{{content}}</textarea>

    <input type="submit" name="cancel" class="btn btn-outline-primary" value="Cancel" formaction="/posts/{{post_id}}">
    <input type="submit" name="edit" class="btn btn-success" value="Edit" formaction="/posts/{{post_id}}/edit"
      formmethod="POST">
  </form>
</div>

{% endblock %}